/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body {
    background-color: rgb(255, 255, 255);
    font-family: "acumin-pro";
    font-weight: 400;
    font-style: normal;
    color: rgb(24, 24, 24);
}

a {
    text-decoration: none;
}

* {
    transition: all .4s ease;
}

img {
    width: 100%;
    display: block;
    border-radius: .2em;
}

header img {
    width: 4em;
    display: block;
}

div.container, div.home-container {
    max-width: 40em;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-transform: uppercase;
    background-color: rgb(24, 24, 24);
    padding: 2em 1em;
    align-items: end;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    row-gap: .4em;
}

header nav ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 80, 255);
    border-radius: .2em;
    padding: .04em .4em .1em;
}

header nav ul li a {
    font-weight: 700;
    color: rgb(240, 240, 240);
    transition: .2s ease;
}

h2 {
    color: rgb(24, 24, 24);
    letter-spacing: -.04em;
    text-wrap: balance;
}

section.mainstory h2, .gallery h2 {
    font-weight: 700;
    font-size: 2.4em;
    margin: .6rem 0;
    line-height: 1em;
}

section {
    margin: 2em 1em;
}

section.secondary h2 {
    font-weight: 700;
    font-size: 1.6em;
    margin: .6rem 0;
    line-height: 1em;
}

section.tertiary h2 {
    font-weight: 700;
    margin-bottom: .4rem;
    font-size: 1.4em;
    line-height: 1em;
}

aside section.tertiary {
    margin-bottom: 1.6rem;
    margin-top: 0;
}

p {
    font-weight: 400;
    font-size: .9em;
    line-height: 1.4em;
    color: rgb(80, 80, 80);
    padding-bottom: 1rem;
}

p.caption {
    font-style: italic;
    font-weight: 300;
    margin: .2em 0 0;
    color: rgb(120, 120, 120);
    text-wrap: balance;
}

footer {
    background-color: rgb(0, 80, 255);
    color: rgb(255, 255, 255);
    padding: .6rem 1rem;
    font-size: .9em;
    flex-shrink: 0;
}

section.secondary-main h2 {
    font-weight: 700;
    font-size: 1.6em;
    margin: .4rem 0;
}

section a figure {
    overflow: hidden;
    border-radius: .2em;
}

section a figure img {
    width: 100%;
    transition: .6s;
}
  
section a:hover img {
    transform: scale(1.04);
    filter: brightness(1.1);
}

section figure.main:hover img {
    transform: none;
}

section a h2, section a p {
    transition: .1s ease;
}

section:hover a h2 {
    color: rgb(0, 80, 255);
}

section:hover a p {
    color: rgb(24, 24, 24);
}

section {
    background-color: rgb(255, 255, 255);
}

.gallery {
    position: relative;
    margin: 2rem 1rem;
}

input {
    display: none;
}

.photos {
    display: none;
}

.photos figcaption {
    margin-top: 0.2rem;
    font-weight: 700;
    font-size: 1.6rem;
}

#photo1:checked ~ figure:nth-of-type(1),
#photo2:checked ~ figure:nth-of-type(2),
#photo3:checked ~ figure:nth-of-type(3),
#photo4:checked ~ figure:nth-of-type(4),
#photo5:checked ~ figure:nth-of-type(5),
#photo6:checked ~ figure:nth-of-type(6),
#photo7:checked ~ figure:nth-of-type(7),
#photo8:checked ~ figure:nth-of-type(8) {
    display: block;
}

.galbuttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .4em;
    margin-top: 1rem;
}

.galbuttons img {
    height: 6em;
    object-fit: cover;
    border-radius: .2rem;
}

.gallery figure.photos img {
    border-radius: .2em;
}

.galbuttons label {
    /* overflow: hidden; */
    border-radius: .2em;
}

.galbuttons label img {
    transition: .2s ease;
}

.galbuttons label:hover img {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.1);
}

.gallery h2 {
    letter-spacing: -.04em;
    margin: 0 0 1rem;
}

.gallery {
    margin-bottom: 11.75em;
    padding-top: 0;
}

.newsletter {
    padding-top: 0;
}

.newsletter-link {
    margin: .2rem 0 0 1rem;
    padding: 0;
}

.newsletter-link h1 {
    color: rgb(24, 24, 24);
    letter-spacing: -.04rem;
    font-weight: 400;
    font-size: 1.2em;
    transition: .1s ease;
}

.newsletter-link h1:hover {
    color: rgb(0, 80, 255);
}

form {
    margin: 0 1rem;
    padding: 0;
    border-radius: .2rem;
}

form h2 {
    font-weight: 700;
    margin-top: 4rem;
    font-size: 1.4em;
    line-height: 1em;
}

form h1 {
    font-weight: 700;
    font-size: 2em;
    margin: 2rem 0;
    line-height: 1em;
    color: rgb(24, 24, 24);
    letter-spacing: -.04em;
}

form section {
    margin: 0;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li {
    margin: .8rem 0;
}

form label {
    font-weight: 400;
    color: rgb(24, 24, 24);
}

.info li {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.info input[type="text"],
.info input[type="email"] {
    padding: 0.2rem .4rem;
    border-radius: 0.2rem;
    font-size: 1rem;
}

form input[type="checkbox"] {
    margin-right: .4rem;
}

input[type="text"],
input[type="email"],
input[type="checkbox"] {
    border: 1px solid rgb(120, 120, 120);
    background: rgb(255, 255, 255);
    display: inline-block;
}

section.letters ul li input[type="checkbox"] {
	transform: scale(1.2);
	cursor: pointer;
}

.letters label {
    margin: 0;
}

.button {
    margin-top: 4rem;
}

.button button {
  background-color: rgb(0, 80, 255);
  color: rgb(255, 255, 255);
  padding: 0.6rem .8rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.button button:hover {
  transform: scale(1.02);
}

.button button:active {
  transform: scale(0.98);
}

.moose {
    display: none;
}

footer.form {
    margin-top: 22em;
}

@media screen and (min-width: 36em) {

    body {
        margin: 0;
    }
	
    div.container, div.home-container {
        max-width: 36em;
        margin: auto;
    }

    header {
        padding: 2em;
        margin: 0 1em;
        grid-template-columns: 1fr 1fr;
        border-bottom-left-radius: .2em;
        border-bottom-right-radius: .2em;
    }

    footer {
        margin: 0 1rem;
        border-top-left-radius: .2em;
        border-top-right-radius: .2em;
    }

    .gallery {
        margin-bottom: 5.85em;
    }

}

@media screen and (min-width: 66em) {

    .newsletter-link {
        grid-column: 1 / -1;
    }

    header img {
        width: 6em;
    }

    header nav ul li a {
        font-size: 1.2em;
    }

    div.container header {
        grid-template-columns: 1fr 2fr;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }

    section {
        margin: 1em;
    }

    aside section {
        margin: 0;
    }

    div.container aside section {
        padding-bottom: 2rem;
    }

    div.container aside {
        padding-left: 0;
    }

    main {
        padding-top: 1em;
    }

    aside {
        padding: 2rem 1rem;
    }

    .container aside {
        padding-right: 1em;
    }
	
    div.home-container {
        max-width: 88em;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    div.container {
        max-width: 66em;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main, div.container article {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    article section.mainstory {
        grid-column: 1/4;
        grid-row: 1/3;
        display: flex;
        flex: 1 0 12em;
        flex-direction: column;
        padding: 1em 1em 0 0;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.secondary {
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img {
        object-fit: cover;
    }

    .gallery {
        grid-column: 1/3;
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 2fr 1fr;
    }

    .galbuttons {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(2, auto);
        gap: 0.4em;
        margin-top: 0;
    }

    .galbuttons img {
        height: 8em;
    }

    .gallery h2 {
        grid-column: 1/3;
    }

    .gallery {
        margin-bottom: 11.1em;
    }

    form h1 {
        font-size: 2.4em;
    }

    .moose {
        display: block;
    }

    footer.form {
        margin-top: 13.55em;
    }

}
