/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1 img {
    margin-left: .6em;
}

div.container, div.home-container {
    max-width: 40em;
    margin: auto;
}

header h1 {
    width: 6em;
    margin: 1em 0;
}

header nav ul li a {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-left: .6em;
    color: rgb(80, 120, 160);
}

header nav {
    margin-bottom: 1.2em;
    padding-top: .2em;
}

section.mainstory h2 {
    font-family: serif;
    font-weight: 700;
    font-size: 3em;
    margin: .2em 0 0 .2em;
    color: rgb(80, 120, 160);
}

section.secondary h2 {
    font-family: serif;
    font-weight: 700;
    font-size: 2em;
    margin: .2em 0 0 .3em;
    color: rgb(80, 120, 160);
}

section.tertiary h2 {
    font-family: serif;
    font-weight: 700;
    font-size: 1.25em;
    margin: 0 0 0 .5em;
    color: rgb(80, 120, 160);
    border-top: 1px solid rgb(80, 120, 160);
    padding-top: .4em;
}

aside {
    background-color: rgb(210, 210, 255);
    padding: 1em .6em;
}

section.secondary-in-main h2 {
    font-family: serif;
    font-weight: 700;
    font-size: 1.25em;
    margin: .25em 0 0 .5em;
    color: rgb(80, 120, 160);
}

p {
    font-family: sans-serif;
    font-weight: 400;
    margin: 0 0 2em .6em;
    line-height: 1.2em;
    color: rgb(20, 20, 20);
}

p.caption {
    font-style: italic;
    font-family: sans-serif;
    font-weight: 400;
    margin: .2em 0 1em .6em;
    color: rgb(100, 100, 100);
}

footer {
    background-color: rgb(80, 120, 160);
    color: rgb(240, 240, 240);
    font-family: sans-serif;
    padding: .8em 0 .8em .6em;
}


@media screen and (min-width: 40em) {

    body {
        margin: 0;
    }
	
    div.container, div.home-container {
        max-width: 40em;
        margin: auto;
    }

    nav ul li {
        display: inline;
    }

    header nav ul li a {
        margin-left: 0;
        margin-right: .6em;
    }

    header h1,
    h1 img,
    section.mainstory h2,
    section.mainstory a h2,
    section.secondary h2,
    section.tertiary h2,
    section.secondary-in-main h2,
    section p,
    p.caption {
        margin-left: 0;
    }

}

@media screen and (min-width: 60em) {

    body {
        margin: 0 1em;
    }

    section.tertiary {
        margin-left: 1em;
        padding-top: 0;
    }
	
    div.home-container {
        max-width: 80em;
        padding: 0;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    div.container {
        max-width: 60em;
        padding: 0;
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main, div.container article {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
    }
    
    aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    article section.mainstory {
        grid-column: 1/4;
        grid-row: 1/3;
        display: flex;
        flex: 1 0 12em;
        flex-direction: column;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }
    
    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.secondary {
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img {
        object-fit: cover;
    }
    
    section.secondary a h2 {
        flex: 0 0 1em;
    }

}
